<div class="text-center mb-8">
  <h1 class="text-4xl font-bold text-neon-yellow mb-2 blink">TinyURL</h1>
  <p class="text-neon-orange tracking-widest">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
</div>
