---
const currentYear = new Date().getFullYear()
---

<footer>
  <p
    class="text-center mt-10 bg-gray-800 border border-neon text-neon-orange py-4 blink"
  >
    Copyright © {currentYear} TabToDev
  </p>
</footer>
