---
const currentYear = new Date().getFullYear()
import GithubIcon from '../icons/GithubIcon.astro'
---

<footer
  role="contentinfo"
  aria-label="Site footer with developer information and links"
>
  <div class="mt-10 bg-gray-800 border border-neon py-4 blink">
    <p class="text-center text-gray-300 py-2">
      Developed with ❤️ by <a
        href="https://github.com/Jose-Daniel-Lopez"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit Jose Daniel Lopez's GitHub profile"
        class="text-gray-300 hover:text-white">Jose</a
      > & <a
        href="https://github.com/Adan-Perez"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit Adan Perez's GitHub profile"
        class="text-gray-300 hover:text-white">Adan</a
      >
    </p>
    <p class="text-center text-gray-300 py-2">
      <a
        aria-label="Visit our GitHub repository for the TinyURL frontend project"
        href="https://github.com/Jose-Daniel-Lopez/tiny-url-frontend"
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-300 hover:text-white flex items-center justify-center gap-2"
      >
        <GithubIcon class="w-4 h-4" /> Github Repository
      </a>
    </p>
    <p class="text-center text-neon-orange mt-5">
      Copyright © <time datetime={currentYear.toString()}>{currentYear}</time> TabToDev
    </p>
  </div>
</footer>
