---
const currentYear = new Date().getFullYear()
import GithubIcon from '../icons/GithubIcon.astro'
---

<footer>
  <div class="mt-10 bg-gray-800 border border-neon py-4 blink">
    <p class="text-center text-gray-300 py-2">
      Developed with ❤️ by <a
        href="https://github.com/Jose-Daniel-Lopez"
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-300 hover:text-white">Jose</a
      > and <a
        href="https://github.com/Adan-Perez"
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-300 hover:text-white">Adan</a
      >
    </p>
    <p class="text-center text-gray-300 py-2">
      <a
        href="https://github.com/Jose-Daniel-Lopez/tiny-url-frontend"
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-300 hover:text-white flex items-center justify-center gap-2"
      >
        <GithubIcon class="w-4 h-4" /> Github Repository
      </a>
    </p>
    <p class="text-center text-neon-orange mt-5">
      Copyright © {currentYear} TabToDev
    </p>
  </div>
</footer>
